@use '../custom' as *;
.body{
    font-family: 'Times New Roman', Times, serif;
};

.sugest{
    .row{
        .image-sec{
            margin-top: 8px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}